<h1>Edit Your Event</h1>
<a href="<%= events_path %>">Events Dashboard</a>  |  <a href="<%= logout_path %>">Logout</a>

  <div class="row">
    <div class="col-md-6">
      <form action="/events/<%= @event.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
        <div class="form-group">
          <label for="event[name]">Name</label>
          <input type="text" class="form-control" name="event[name]" value="<%= @event.name %>">
        </div>
        <div class="form-group">
          <label for="event[date]">Date</label>
          <input type="date" class="form-control" name="event[date]" value="<%= @event.date %>">
        </div>
        <div class="form-group">
          <label for="event[city]">Location</label>
          <input type="text" class="form-control" name="event[city]" value="<%= @event.city %>">
          <select name="event[state]">
            <option value="event[state]" selected><%= @event.state %></option>
            <script>
            function fill() {
              var obj = ({"Data":{"AL":"AL","AK":"AK","AZ":"AZ","AR":"AR","CA":"CA","CO":"CO","CT":"CT","DE":"DE","DC":"DC","FL":"FL","GA":"GA","HI":"HI","ID":"ID","IL":"IL","IN":"IN","IA":"IA","KS":"KS","KY":"KY","LA":"LA","ME":"ME","MA":"MA","MI":"MI","MN":"MN","MS":"MS","MO":"MO","MT":"MT","NE":"NE","NV":"NV","NH":"NH","NJ":"NJ","NM":"NM","NY":"NY","NC":"NC","ND":"ND","OH":"OH","OK":"OK","OR":"OR","PA":"PA","RI":"RI","SC":"SC","SD":"SD","TN":"TN","TX":"TX","UT":"UT","VT":"VT","VA":"VA","WA":"WA","WV":"WV","WI":"WI","WY":"WY"}});
              var s = document.getElementById('sel');
              var i = 0;
              for (var propertyName in obj.Data){
                sel.options[i++] = new Option(propertyName, obj.Data[propertyName], true, false);
              }
            }
            fill();
            </script>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>

