<h1>Welcome, <%= @user.first_name %>!</h1>
<a href="/users/<%= @user.id %>/edit">Edit My Profile</a>   |   <a href="<%= logout_path %>">Logout</a>
<div class="container">


  <div class="row">
    <h2>Here are some of the events at your state:</h2>
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Host</th>
        <th>Action/Status</th>
      </thead>
      <tbody>
        <% if @events %>
          <% @events.each do |event| %>
            <% if event.state == @user.state %>
              <tr>
                <td><a href="/events/<%= event.id %>" /a><%= event.name %></td>
                <td><%= event.date %></td>
                <td><%= event.city %></td>
                <td><%= event.user.first_name %> <%= event.user.last_name %></td>
                <% if @user.id == event.user_id %>
                  <td>
                    <a href="/events/<%= event.id %>/edit">Edit</a> | 
                    <form action="/events/<%= event.id %>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete">
                  </form></td>
                <% else %>
                    <%if @guest_list %>
                      <td><p>Joining</p></td>
                    <% else %>
                      <td>
                        <form action="/events/guest_lists/<%= event.id %>" method="post">
                          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                          <input type="hidden" name="user_id" value="<%= @user.id %>">
                          <input type="submit" name="" value="Join">
                        </form>
                      </td>
                    <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2>Here are some of the events in other states:</h2>
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>State</th>
        <th>Host</th>
        <th>Action/Status</th>
      </thead>
      <tbody>
        <% if @events %>
          <% @events.each do |event| %>
            <% if event.state != @user.state %>
            <tr>
              <td><a href="/events/<%= event.id %>" /a><%= event.name %></td>
              <td><%= event.date %></td>
              <td><%= event.city %></td>
              <td><%= event.state %></td>
              <td><%= event.user.first_name %> <%= event.user.last_name %></td>
              <% if @user.id == event.user_id %>
                <td><a href="/events/<%= event.id %>/edit">Edit</a> | <form action="/events/<%= event.id %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Delete">
                </form></td>
              <% else %>
                <td><a href="/events/<%= event.id %>/edit">Join</a></td>
              <% end %>
            </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="row">
    <div class="col-md-6">
      <h2>Add Event</h2>
      <form action="/events" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="event[user_id]" value="<%= @user.id %>">
        <div class="form-group">
          <label for="event[name]">Name</label>
          <input type="text" class="form-control" name="event[name]" value="">
        </div>
        <div class="form-group">
          <label for="event[date]">Date</label>
          <input type="date" class="form-control" name="event[date]" value="">
        </div>
        <div class="form-group">
          <label for="event[city]">Location</label>
          <input type="text" class="form-control" name="event[city]" value="">
          <select name="event[state]" id="sel"/>
          <script>
          function fill() {
            var obj = ({"Data":{"AL":"AL","AK":"AK","AZ":"AZ","AR":"AR","CA":"CA","CO":"CO","CT":"CT","DE":"DE","DC":"DC","FL":"FL","GA":"GA","HI":"HI","ID":"ID","IL":"IL","IN":"IN","IA":"IA","KS":"KS","KY":"KY","LA":"LA","ME":"ME","MA":"MA","MI":"MI","MN":"MN","MS":"MS","MO":"MO","MT":"MT","NE":"NE","NV":"NV","NH":"NH","NJ":"NJ","NM":"NM","NY":"NY","NC":"NC","ND":"ND","OH":"OH","OK":"OK","OR":"OR","PA":"PA","RI":"RI","SC":"SC","SD":"SD","TN":"TN","TX":"TX","UT":"UT","VT":"VT","VA":"VA","WA":"WA","WV":"WV","WI":"WI","WY":"WY"}});
            var s = document.getElementById('sel');
            var i = 0;
            for (var propertyName in obj.Data){
              sel.options[i++] = new Option(propertyName, obj.Data[propertyName], true, false);
            }
          }
          fill();
          </script>
        </div>
        <button type="submit" class="btn btn-primary">Add Event</button>
      </form>
    </div>
  </div>
</div>
